.register-page{
    margin-top: 5rem;
}

.register-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-logo img{
    height: 8rem;
}

.register-logo h1{
    font-size: 3rem;
}

.register-page h2{
    justify-content: center;
    display: flex;
    color: #414141;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
}

.register-page p{
    display: flex;
    all: unset;
    justify-content: center;
    text-align: center;
}

.register-page a{
    color: #2600FF;
    text-decoration: underline;
    cursor: pointer;
}

.register-container{
    align-items: center;
    display: flex;
    flex-direction: column;
}

form{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    padding: 2rem 2rem 2rem 2rem;
}

label{
    font-family: "Jomolhari", sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
}

input {
    all: unset;
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

.register-page h3{
    text-decoration: underline;
    font-family: "Jomolhari", sans-serif;
    color: gray;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}
