.add-to-collection-page h2 {
    all: unset;
    font-family: "Jomolhari", sans-serif;
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 1rem;
    text-align: center;
}

.add-to-collection-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.add-to-collection-upper-page-line {
    width: 90%;
    height: 1px;
    background-color: darkgray;
    margin: 2rem 0;
    align-self: center;
}

.add-to-collection-lower-page-line{
    width: 90%;
    height: 0.5px;
    background-color: darkgray;
    align-self: center;
    margin-top: 300px;
}