.collection-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.collection-page h2 {
    all: unset;
    font-family: "Jomolhari", sans-serif;
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 1rem;
    text-align: center;
}

.collection-page h3 {
    all: unset;
    display: block;
    font-family: "Inter", sans-serif;
    color: #414141;
    font-weight: 500;
    font-size: 3rem;
    padding-left: 3rem;
    padding-top: 2rem;
}

.collection-page p {
    font-family: "Inter", sans-serif;
    color: #414141;
    font-weight: 400;
    font-size: 1.5rem;
    padding-left: 3rem;
}

.upper-page-line {
    width: 90%;
    height: 1px;
    background-color: darkgray;
    margin: 2rem 0;
    align-self: center;
}

.collection-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.collection-button {
    background-color: #D9D9D9;
    border-radius: 15px;
    width: 40rem;
    height: 20rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.collection-button img {
    width: 13rem;
    height: 13rem;
    margin-top: 6rem;
    margin-left: 4rem;
}

.collection-small-button {
    background-color: #D9D9D9;
    border-radius: 15px;
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.collection-small-button img {
    width: 10rem;
    height: 10rem;
    margin-top: 8rem;
    margin-right: 1rem;
}

.collection-icon img {
    width: 11rem;
    margin-right: 1.5rem;
}
