.set-banner {
    width: 80%;
    height: 150px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    border: 2px solid black;
}

.set-detail-page h1{
    font-family: "jomolhari", serif
}

.set-detail-page h2{
    text-align: left;
    margin-left: 5%;
    margin-top: 1rem;
    font-size: 3rem;
    font-family: "jomolhari", serif;
}

.cards-grid {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3vw;
}

.cards-grid img {
    width: 150px;
    border-radius: 8px;
}

.set-banner-text {
    background-color: white;
    padding-left: 2rem;
    padding-right: 2rem;
}

.card{
    position: relative;
}

.card input[type="checkbox"] {
    position: absolute;
    z-index: 10;
    top: -20px;
    left: -5px;
    width: 10px;
    height: 10px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 0;
}

.card input[type="checkbox"]:checked {
    background-color: grey;
}

.card-amount-checkbox-container{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.card-amount-checkbox-container input[type="number"] {
    width: 40px;
    height: 10px;
    position: absolute;
    top: -20px;
    left: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.set-cards-upper-page-line{
    width: 90%;
    height: 1px;
    background-color: darkgray;
    margin: 2rem auto ;
}

.set-cards-container{
    position: sticky;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 4vw;
    z-index: 20;
}

.set-card-collection-bottom-line{
    width: 90%;
    height: 2px;
    background-color: darkgray;
    margin: 0 auto;
}

.card-page-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 0.5rem;
}

.add-cards-button{
    border: blue solid 3px;
    background-color: white;
    color: blue;
    margin-top: 0;
}

.cancel-adding-cards-button{
    border: red solid 3px;
    background-color: white;
    color: red;
    margin-top: 0;
}