.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.main-page button{
    all: unset;
    display: inline-block;
    color: #2600FF;
    font-size: large;
    font-family: "Inter", sans-serif;

    border: 2px solid #2600FF;
    border-radius: 6px;
    background: transparent;

    padding: 5px 18px 7px 18px;
    box-sizing: border-box;
    cursor: pointer;
}

.main-page h1{
    all: unset;
    font-family: "Jomolhari", sans-serif;
    font-size: 3rem;
    font-weight: lighter;
    padding-bottom: 3rem;
}

.main-page p{
    all: unset;
    font-family: "Jomolhari", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}

.main-page-line{
    width: 90%;
    height: 1px;
    background-color: darkgray;
    margin: 2rem 0;
}

.main-page h2 {
    all: unset;
    font-family: "Jomolhari", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
    letter-spacing: 1rem;
}

